@{
    ViewBag.Title = "About";
}



<div id="lop">
    <h3 class="lx">四则运算练习</h3>
    <div class="col">
        
        <button class=" btn-primary btn-lg">返回首页</button>

        <div class="topic">
            <p class="to">
                题目数量<input type="text" size="10" />
                题目范围<input type="text" size="10" />
                <button class="btn-primary btn-lg">生成题目</button>
            </p>
        </div>

        <div class="_towe">
            <button class="btn btn-primary btn-lg">提交</button>
            <button class="btn btn-primary btn-lg">下载</button>
            <button class="btn btn-primary btn-lg">打印</button>
        </div>
    </div>
</div>