@{
    ViewBag.Title = "Contact";
}

    


<div id="ks">
    <h3 class="sz">四则运算考试</h3>
    <button class="like btn-primary btn-lg">开始考试</button>

    <div class="open">
        <p>考试时间：60分钟</p>
    </div>
    <div class="_towe">
        <button class="btn btn-primary btn-lg">交卷</button>
        <button class="btn btn-primary btn-lg">下载</button>
        <button class="btn btn-primary btn-lg">打印</button>
    </div>
</div>