@{
    ViewBag.Title = "Home Page";
}

<html >
<body id="kk">
    <div id="heard">
        <div class="one">
            <select class="_one">
                <option>一年级</option>
                <option>二年级</option>
                <option>三年级</option>
                <option>四年级</option>
                <option>五年级</option>
                <option>六年级</option>
            </select>
        </div>
        <div class="towe">
            <a href="/Home/About" ><button class="btn btn-primary btn-lg">四则运算练习</button></a> 

            <a href="/Home/Contact"><button class="btn btn-primary btn-lg">四则运算考试</button></a>
        </div>
    </div>
</body>
</html>